**PANDAS MODULE Functions**

In [1]:
import pandas as pd

Creating a dataFrame

In [20]:
dataSet = {
    "cars":['Mercedes','BMW','Ford'],
    "passings":[3,7,2]
}

df1 = pd.DataFrame(dataSet)
df1

       cars  passings
0  Mercedes         3
1       BMW         7
2      Ford         2

Creating Series

In [18]:
a = [1,2,3]
df2 = pd.Series(a,index=['x','y','z'])
print(df2)
print("Accessing -->")
print(df2['z'])

calories = {"day1" : 550, "day2" : 220, "day3" : 450}
df3 = pd.Series(calories)
print(df3)

x    1
y    2
z    3
dtype: int64
Accessing -->
3
day1    550
day2    220
day3    450
dtype: int64

In [22]:
data1 = {
    "calories" : [420, 500, 778],
    "duration" : [50,40,30]
}

df4 = pd.DataFrame(data1)

df4

   calories  duration
0       420        50
1       500        40
2       778        30

Locating rows

In [25]:
print(df4.loc[0]) #locating just rows
print(df4.loc[[0,1]]) #locating rows based on indexes

calories    420
duration     50
Name: 0, dtype: int64
   calories  duration
0       420        50
1       500        40

In [26]:
df5 = pd.DataFrame(data1, index=["day1", "day2", "day3"])
df5

      calories  duration
day1       420        50
day2       500        40
day3       778        30

In [27]:
print(df5.loc["day2"])

calories    500
duration     40
Name: day2, dtype: int64

Reading files

In [38]:
df6 = pd.read_csv('data.csv')
print(df6.head())
print(df6.tail())
print(df6.info())

   Duration  Pulse  Maxpulse  Calories
0        60    110       130     409.1
1        60    117       145     479.0
2        60    103       135     340.0
3        45    109       175     282.4
4        45    117       148     406.0
     Duration  Pulse  Maxpulse  Calories
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 169 entries, 0 to 168
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Duration  169 non-null    int64
 1   Pulse     169 non-null    int64
 2   Maxpulse  169 non-null    int64
 3   Calories  164 non-null    float64
dtypes: float64(1), int64(3)
memory usage: 5.4 KB
None